@import url("components/navbar.css");
@import url("components/button.css");
@import url('components/avatar.css');
@import url('components/images.css');
@import url('components/languages.css');
@import url('components/projects.css');
@import url('components/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

